*.mo
*.pyc
/.env
/.ftl-extract-cache/
/.idea/
/.ruff_cache/
/.venv/
__pycache__/
/.coverage
/dist/
/site/
/reports/
/htmlcov/
*.egg-info
/build/
/target/
/wheelhouse/
Cargo.lock
/coverage.xml
uv.lock
/lcov.info
