[workspace.package]
version = "0.9.0"
edition = "2024"
rust-version = "1.91"
homepage = "https://example.com"
documentation = "https://example.com"
repository = "https://example.com"
authors = ["Andrew King <help@kusbot.com>"]
license = "MIT"
include = ["src/**/*.rs"]

[workspace]
resolver = "3"
members = [
    "src/extractor",
    "src/cli",
]

[workspace.dependencies]
extractor = { path = "src/extractor" }
cli = { path = "src/cli" }

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
strip = true

[profile.test]
opt-level = 3
lto = false
codegen-units = 16
strip = false
