name: Python package Lint+Test+Build

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

jobs:
#  ci:
#    runs-on: ${{ matrix.os }}
#    env:
#      BUILD_RUST_IMPL: "0"
#    strategy:
#      fail-fast: true
#      matrix:
#        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
#        os: [ "ubuntu-latest", "macos-latest", "windows-latest" ]
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v4
#
#      - name: Install uv
#        uses: astral-sh/setup-uv@v5
#        with:
#          python-version: ${{ matrix.python-version }}
#          version: "latest"
#          enable-cache: true
#
#      - name: Install the project
#        run: uv sync --extra dev --extra tests --verbose
#
#      - name: Minimize uv cache
#        run: uv cache prune --ci
#
#      - name: Lint
#        run: make lint
#
#      - name: Test
#        run: make test
#
#      - name: Build the package
#        run: uv build --wheel
#
#      - name: Verify wheel installation
#        run: |
#          uv run --verbose --with ftl_extract --no-project --refresh-package ftl_extract -- python -c "import ftl_extract; print(ftl_extract.__version__)"
#          uv run --verbose --with ftl_extract --no-project --refresh-package ftl_extract -- ftl-extract --version

  extension:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ ubuntu-latest, windows-latest, macos-13, macos-14 ]
    steps:
      - uses: actions/checkout@v4

      - name: Set up 'BUILD_RUST_IMPL' environment variable
        if: runner.os == 'Windows' || runner.os == 'macOS'
        shell: bash
        run: echo "BUILD_RUST_IMPL=1" >> $GITHUB_ENV

      - name: Set up QEMU
        if: runner.os == 'Linux' && runner.arch == 'X64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.13"
          version: "latest"
          enable-cache: true

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install the project
        shell: bash
        run: uv sync --extra dev --extra tests --verbose

      - name: Minimize uv cache
        run: uv cache prune --ci

      - name: Build and fix wheels
        shell: bash
        run: |
          uv run cibuildwheel --config-file pyproject.toml --output-dir wheelhouse
          for wheel in wheelhouse/*.whl; do
            uv run wheel tags --python-tag py3 --abi-tag none --remove $wheel
          done

      - name: Verify wheel installation
        if: runner.os == 'Windows' || runner.os == 'macOS'
        shell: bash
        run: |
          for wheel in wheelhouse/*.whl; do
            uv run --verbose --with $wheel --no-project -- fast-ftl-extract --version
          done

      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ftl_extract-${{ matrix.os }}-${{ github.run_id }}
          if-no-files-found: error
          path: |
            wheelhouse/*.whl
